:root {
    /* Palette */

    /* rgba significa la opacidad */
    --primary-solid: #FF3333;
    --primary-900: rgba(255,51,51,0.9);
    --primary-500: rgba(255,51,51,0.5);
    --primary-300: rgba(255,51,51,0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29,132,181,0.9);
    --secondary-500: rgba(29,132,181,0.5);
    --secondary-300: rgba(29,132,181,0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgba(31,31,31,0.9);
    --dark-500: rgba(31,31,31,0.5);
    --dark-300: rgba(31,31,31,0.3);

    --black-solid: #000000;
    --black-solid-25: rgba(0,0,0,0.25); 

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;
    --gray-bg-solid: #4F4F4F;
    --gray--border-button: #C9C9C9;
    --dark-gray: #212B36;
    --gray-pagination: #DFE3E8;
    --arrow-pagination-icon: #C4CDD5;
    --arrow-pagination-bg: #919EAB;
    --gray-resumen: #747474;
    --gray-create: #B9B9B9;
   
    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-display-46: 4.6em;
    --font-ljumboo-42:4.2em;
    --font-jumbo-38: 3.8em;
    --font-sjumbo-32: 3.2em;
    --font-xlarge-30: 3em;
    --font-large-24: 2.4em;
    --font-mlarge-22: 2.2em;
    --font-lmedium-20: 2em;
    --font-medium-18: 1.8em;
    --font-small-16: 1.6em;
    --font-xsmall-14: 1.4em;
    --font-vsmall-12: 1.2em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-32: 3.2rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-18: 1.8rem;
    --spacing-17: 1.7rem;
    --spacing-16: 1.6rem;
    --spacing-15: 1.5rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}