.pruebapix {
    width: 80vw;
    background-color: aqua;
    height: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
}



.pruebapix4 {
    width: 120px;
    background-color: orange;
    height: 20px;
    position: absolute;
    left: 40px;
    /* margin-left: 20px; */
   
}

.pruebapix5 {
    width: 25%;
    background-color: blue;
    height: 20px;
    left: 400px;
    position: absolute;
    /* margin-left: 20px; */
    
}

.pruebapix6 {
    width: 20vw;
    background-color: rgb(0, 255, 34);
    height: 20px;
    /* margin-left: 20px; */
   
}

