/* Main Product*/
.product {
    display: flex;
    gap: 14.96px;
    margin-top: var(--spacing-68);
}

.formQuery {
    width: 16.8778vw;
    height: 493.93px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    text-transform: uppercase;
    font-family: var(--base-font);
}

.formQuery__title {
    font-size: var(--font-large-24);
    font-weight: 500;
}

.formQuery__buscar {
    width: 16.8771vw;
    height: 44.28px;
    font-size: var(--font-lmedium-20);
    font-weight: 500;
}

.formQuery__order {
    width: 16.8771vw;
    font-size: var(--font-large-24);
    font-weight: 500;
    
}

.selectOption__shop {
    width: 16.8771vw;
    height: 44.28px;
    font-size: var(--font-lmedium-20);
    font-weight: 500;
    padding-left: 0.8333vw;
    color: var(--dark-bg-solid);
}

/* Price */
.formQuery__price--title {
    font-size: var(--font-large-24);
    font-weight: 500;
}

.formQuery__price__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16.2701vw;
    height: 27.52px;
}

.formQuery__input__price {
    height: 19px;
    font-size: var(--font-small-16);
    font-weight: 500;
    text-transform: uppercase;
}

.formQuery__input__range {
    width: 4.1069vw;
    height: 27.52px;
    border: 2px solid var(--dark-bg-solid);
    border-radius: 6px;
    color: var(--dark-bg-solid);
    font-size: var(--font-lmedium-20);
    text-align: center;
}    

.formQuery__input__range__img {
    width: 20px;
    height: 20px;
}

/* Filtrar */
.formQuery__filter {
    font-size: var(--font-large-24);
    font-weight: 500;
}

/* Checkbox */
.formQuery__checkbox {
    width: 14.5917vw;
    height: 123.94px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    margin-bottom: var(--spacing-20);
    gap: 8px;
}

.formQuery__checkbox__filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 24px;
    position: relative;
}

.formQuery__checkbox__filter__img {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 3px;
    top:3px;
    display: none;
}

.formQuery__checkbox__input {
    width: 1.6667vw;
    height: 24px;
    border: 2px solid var(--dark-bg-solid);
    border-radius: 6px;
    color: var(--dark-bg-solid);
    display: flex;
}

.formQuery__checkbox__label {
    font-size: var(--font-medium-18);
    font-weight: 500;
    margin-left: 0.4167vw;
}

/* Fetch Products */
.productList {
    width: 66.6688vw;
    height:1788px;
    display: flex;
    flex-direction: column;
}

.productList__container {
    
    width: 100%;
    height: 1608px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
}

.cardShopPicture__height {
    height: 23.2083vw;
    width: 22.2229vw;
}

.cardShopContent__height {
    height: 201.7px;
    width: 22.2229vw;
}

/* Paginación */
.pagination__container {
    display: flex;
    height: 180px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: flex;
    width: 356px;
    height: 44px;
    gap: 10px;
}

.pagination__page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    font-size: var(--font-xsmall-14);
    font-family: var(--base-font);
    font-weight: 500;
    border: 1px solid var(--gray-pagination);
    border-radius: 4px;
    color: var(--dark-gray);
}

.pagination__page__target {
    border: 1px solid var(--primary-solid);
    color: var(--primary-solid);
}

.pagination__page__bg {
    background-color: var(--arrow-pagination-bg);
    border: 1px solid var(--arrow-pagination-bg);
}

.arrowPagination img {
    width: 4px;
    height: 4px;
}
