/* Footer */
.footer {
    background-color: var(--dark-bg-solid);
    height: 343px;
}   

.footer__navbar {
    width: 83.3333vw;
    height: 271px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__navbar__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__copy {
    text-align: center;
    font-size: var(--font-lmedium-20);
}


