<%- include('../partials/header') %>
<main>
    <section>
        <form action="#" method="post" enctype="application/x-www-form-urlencoded">
            <div class="loginRegister__Container">
                <p class="loginRegisterTitle">Ingresar a mi cuenta</p>

                <div class="loginRegisterEmail__container">
                    <label for="loginEmail" class="loginRegisterEmail__title">Email:</label>
                    <input type="text" name="email" class="loginRegisterEmail__size inputUnderline" id="loginEmail" placeholder="johndoe@correo.com">    
                </div> 

                <div class="loginRegisterEmail__container">
                    <label for="loginPass" class="loginRegisterEmail__title">Contraseña:</label>
                    <input type="password" name="password" class="loginRegisterEmailPass__size inputUnderline" id="loginPass" placeholder=".........">    
                </div> 

                <div class="loginRegisterButtons__container">
                    <div class="loginRegisterButtons">
                        <div class="createProductSubmit_sucess--active">
                            <input class="loginSubmit btn__primary" type="submit" name="createProductSubmit" id="loginSubmit" value="Ingresar">
                        </div>
                        <div class="loginCheckSubmit formQuery__checkbox__filter">
                            <input type="checkbox" class="loginCheckSubmit--height formQuery__checkbox__input" name="formQuery__checkbox__shop" id="loginCheckBox" value="loginCheckBox">
                            <label class="formQuery__checkbox__label" for ="loginCheckBox" ><img id="checkbox__filter__nuevos__img" class="formQuery__checkbox__filter__img" src="../../img/icons/Check.png" alt="loginCheckBox">Recordarme</label>
                        </div>
                    </div>
                    <a class="loginRegisterLink" href="#">Olvidé mi contraseña</a>
                </div>
            </div>
        </form>
    </section>
</main>
<%- include('../partials/footer') %>