<section class="slider container glide">
    <h2 class="slider__title">Ultimos Lanzamientos</h2>
    <div class="glide__track" data-glide-el="track">
        <ul class="slider__items glide__slides">
            <li class="slider__item glide__slide">
                    <article class="card-item">
                        <a class="card-item__link" href="./pages/store/item.html">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img class="card-item__img--front" src="./img/star-wars/trooper-1.webp" alt="Figura de la saga Star Wars">
                                <img class="card-item__img--back" src="./img/star-wars/trooper-box.webp" alt="Figura de la saga Star Wars en caja">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__licence">STAR WARS</p>
                                <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
                                <p class="card-item__price">$1799,99</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERES</p>
                            </div>
                        </a>
                    </article>
            </li>
            <li class="slider__item glide__slide">
                    <article class="card-item">
                        <a class="card-item__link" href="./pages/store/item.html">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img class="card-item__img--front" src="./img/pokemon/pidgeotto-1.webp" alt="Figura de la saga Pokemon">
                                <img class="card-item__img--back" src="./img/pokemon/pidgeotto-box.webp" alt="Figura de la saga Pokemon en caja">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__licence">POKEMON</p>
                                <h4 class="card-item__name">PIDGEOTTO</h4>
                                <p class="card-item__price">$1799,99</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERES</p>
                            </div>
                        </a>
                    </article>
            </li>
            <li class="slider__item glide__slide">
                    <article class="card-item">
                        <a class="card-item__link" href="./pages/store/item.html">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img class="card-item__img--front" src="./img/harry-potter/luna-1.webp" alt="Figura de la saga Harry Potter">
                                <img class="card-item__img--back" src="./img/harry-potter/luna-box.webp" alt="Figura de la saga Harry Potter en caja">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__licence">HARRY POTTER</p>
                                <h4 class="card-item__name">LUNA LOVEGOOD LION MASK</h4>
                                <p class="card-item__price">$1799,99</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERES</p>
                            </div>
                        </a>
                    </article>
            </li>
        </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="black" d="M17 11H9.41l3.3-3.29a1 1 0 1 0-1.42-1.42l-5 5a1 1 0 0 0-.21.33a1 1 0 0 0 0 .76a1 1 0 0 0 .21.33l5 5a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.42L9.41 13H17a1 1 0 0 0 0-2Z"/></svg></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="black" d="M17.92 11.62a1 1 0 0 0-.21-.33l-5-5a1 1 0 0 0-1.42 1.42l3.3 3.29H7a1 1 0 0 0 0 2h7.59l-3.3 3.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l5-5a1 1 0 0 0 .21-.33a1 1 0 0 0 0-.76Z"/></svg></button>
     </div>
</section>